<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Student Registration</title>
</head>
<body>
    <form class="row g-3">
        <h1 align="center">Student Registration Form</h1>

        <div style="align-items: center; margin-left: 30%;">
        <h3>Student Information</h3>
        <table>
          <tr>
            <td>
              <input type="text" placeholder="First Name">
            </td>

            <td>
              <input type="text" placeholder="Middle Name">
            </td>

            <td>
              <input type="text" placeholder="Last Name">
            </td>
          </tr>

          <tr>  
            <td>
              <input type="datetime-local" name="" placeholder="Date of Birth">
            </td>
          </tr>
        </table>

        <br>
        <h3>Address</h3>
        <table>
          <tr>
            <td colspan="3">
              <input type="text" placeholder="Street Address" style="width: 575px;">
            </td>
          </tr>

          <tr>  
            <td>
              <input type="text" placeholder="City">
            </td>

            <td>
              <input type="text" placeholder="State / Province">
            </td>
          </tr>

          <tr>  
            <td>
              <input type="text" placeholder="Country">
            </td>

            <td>
              <input type="number" placeholder="Zip Code">
            </td>
          </tr>
        </table>

        <br>
        <h3>Contact Information</h3>
        <table>
          <tr>
            <td>
              <input type="email" placeholder="E-mail">
            </td>

            <td>
              <input type="number" placeholder="Mobile No.">
            </td>
          </tr>
        </table>

        <br>
        <h3>Courses <b><font color="red">*</font></b></h3>
        <table>
          <tr>
            <td>
              <input type="text" placeholder="Course Name" style="width: 575px;">
            </td>
        </table>
      </div>
      <input type="submit" style="width: 10%; margin-left: 45%;">
    </form> 

</body>
</html>